<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
    <title>Jitsi Data Provider</title>
</head>
<body>
   <h1 align="center">Welcome to Jitsi Data Provider. Please, click the button to start the data extraction</h1>
   <img src={{ url_for('static', filename='jitsi.jpg') }} alt="Jitsi Img" width="70%" height="50%" class="center">
   <form action="http://localhost:5000/start" class="inline">
     <div class="center">
    <button class="float-center submit-button" style="width: 300%; height: 175%;">START</button>
	</div>
</form>
</body>
</html>